<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css" />
    <meta charset="utf-8" />
    <title>password generator</title>
  </head>

  <body>
    <h1>This is a random password generator</h1>
    <h2>
      choose a password length or enter it yourself (<u>from 6 to 36 symbols</u>)
    </h2>
    <div>
      <form>
          <button formaction="/8">8 symbols</button>
          <button formaction="/10">10 symbols</button>
          <button formaction="/12">12 symbols</button>
          <button formaction="/14">14 symbols</button>
      </form>
    </div>
    <div id="manual_input">
      <form id="manual-form">
        <label for="custom-length">enter custom length:</label>
        <input type="number" id="custom-length" min="6" max="36" value="6">
        <button type="submit">Enter</button>
      </form>
    </div>
    <div class="password_output">
      <p id="text-to-copy">{{ . }}</p>
      <button id="copy-btn">Copy</button>
    </div>
    <div class="author">
        <p><a href="https://github.com/EvansTrein">powered by Evans Trein's</p>
    </div>
    <script>
      document
        .getElementById("copy-btn")
        .addEventListener("click", function () {
          var textToCopy = document.getElementById("text-to-copy").textContent;
          var textarea = document.createElement("textarea");
          textarea.value = textToCopy;
          document.body.appendChild(textarea);
          textarea.select();
          document.execCommand("copy");
          document.body.removeChild(textarea);
        });
      document
        .getElementById("manual-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          var userInput = document.getElementById("custom-length").value;
          window.location.href = "/" + userInput;
        });
    </script>
  </body>
</html>
